<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.najahni">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_najahni"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_najahni"
        android:supportsRtl="true"
        android:theme="@style/Theme.Najahni"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".views.profile.Settings"
            android:exported="false" />
        <activity
            android:name=".views.chat.DiscussionActivity"
            android:exported="false" />
        <activity
            android:name=".views.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".views.cart.webview.PayementWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".views.coursedetaillesson.videoplayer.VideoPlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".views.coursedetaillesson.CourseDetailLessonActivity"
            android:exported="false" />
        <activity
            android:name=".views.quiz.QuizInterface"
            android:exported="false" />
        <activity
            android:name=".views.addCourse.EditQuiz"
            android:exported="false" />
        <activity
            android:name=".views.addCourse.AddCourseActivity"
            android:exported="false" />
        <activity
            android:name=".views.courseDetail.CourseDetail"
            android:exported="false" />
        <activity
            android:name=".views.quiz.QuizResult"
            android:exported="false" />
        <activity
            android:name=".views.signup.SignupPage2"
            android:exported="false" />
        <activity
            android:name=".views.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".bottombarnavigation.MainActivity"
            android:exported="false" />
        <activity
            android:name=".views.changepassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".views.editProfile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.resetpassword.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".views.otp.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".views.forgetpassword.ForgetPasswordActivity"
            android:exported="false" /> <!-- this is a comment -->
        <activity
            android:name=".views.login.LoginView"
            android:exported="false" />
        <activity
            android:name="com.example.najahni.views.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".utils.SocketHandler" />
    </application>

</manifest>